html,
body,
.App {
    height: 100%;
}

body,
.App {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrap {display: flex; flex-direction: column;}

h1, h2 {margin-bottom: 12px !important; color: rgba(0,0,0,.9) !important;}

h2 {margin-top:16px !important;}

h1 { font-size: 18px ;}
h2 { font-size: 16px ;}

.user {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.user .user-title {
    flex-grow: 1;
}

.user .user-year {
    font-size: 0.5rem;
    color: red;
}

.user_id {
    text-align: center;
    /* padding: 12px 0; */
}

.cursor-pointer {
    cursor: pointer;
}
/*
mb-2
p-3
*/

.flex01 {
    flex: 1;
    position: relative;
}

.flex01 .ftStyle {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 16px;
}

.flex02 {
    flex: 2;
}

.card-body {
    padding: 0;
}
.card:active,
.card:hover {
    border: #40a1d1 1px solid;
}

/* .link:active,
.link:hover {
    border: #40a1d1 1px solid;
} */

.linkBox {
    display: flex;
    flex: 12;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3rem;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    flex-direction: column;
    max-width: 100%;
    /* overflow: hidden; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* footer */
.card-footer {
    text-align: center;
    margin-top: 5%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    flex: 1;
}

.tabs {
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

/* .tabs nav {
    display: flex;
    justify-content: center;
} */

.tabs button {
    margin-right: 5px;

    list-style: none;
}

/* .tabs li {
    margin-right: 5px;

    list-style: none;
}

.tabs li a {
    text-decoration: none;
} */

/* .tabs li,
.tabs li a:hover {
    color: #fff;
} */
/* .tabs li.active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
} */

/* .btn-outline-secondary:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
} */

/* page Link */

/* .preNext {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #064090;
    position: relative;
} */

.pageLink {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    height: 100%;
}

.pageLink button {
    display: flex;
    padding: 20px;

    border: 0;
    background: 0;
    height: 100%;
    align-items: center;
}

.pageLink button {
    color: #212529;
}

.pageLink button:disabled, .pageLink button:disabled i {
    color: rgba(0, 0, 0, 0.3);
}

.d-flex .st {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.btnStyle {
    display: flex;
    justify-content: center;
}

.btnStyle button {
    width: 25%;
    border: 0;
    background: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    /* border: 1px solid pink; */
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 5px 12px;
    margin: 0 4px;
}

.btnStyle button:disabled {
    color: rgba(0, 0, 0, 0.3);
}
.username {
    color: #555;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}


/* users */
.nameCardStyle ul li .namestyle01 {background-color:#2ea3f2 ;}

/* PostView */
.stBox {display:flex; flex-direction: row;}
.commentsTitle {display: flex; flex-direction: row;}
.commentsTitle p {display:flex; align-items: center; margin-left: 12px; }
.allComments {margin-top: 24px; justify-content: flex-end; display: flex;}
/* .email {justify-content: flex-end;} */
/* footer */
.footerStyle {
    color:#2ea3f2;
}

@media (max-width: 767px) {
    .btnStyle {
        justify-content: space-between;
    }
    .btnStyle button {
        width: 49%;
        margin: unset;
    }
}
